## Componentes
    Gleydvan Macedo
    João Vítor Venceslau Coelho
    
## Professor
    Ivanovitch Medeiros Dantas da Silva
    
### Preparação
Utilizando os dados disponibilizados em dados.ufrn.br, criaremos alguns datasets com os dados apenas das disciplinas:
    
    IMD0028 - FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I
    IMD0038 - FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II
    IMD0033 - PROBABILIDADE

In [1]:
# Importando módulo importante
import pandas as pd

In [2]:
# Lendo csv que contem os dados a serem analisados
comp_curric_presen = pd.read_csv("data_sets/componentes-curriculares-presenciais.csv", sep = ";")

In [11]:
# Buscando código de FMC1
comp_curric_fmc1 = comp_curric_presen[comp_curric_presen["codigo"].str.contains("IMD0028")]
comp_curric_fmc1 = comp_curric_fmc1[["id_componente","nome"]]
comp_curric_fmc1

       id_componente                                     nome
18272          52427     FERRAMENTAS PARA AUTOMAÇÃO DE TESTES
20538          55022  FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO I

In [14]:
# Buscando código de FMC2
comp_curric_fmc2 = comp_curric_presen[comp_curric_presen["codigo"].str.contains("IMD0038")]
comp_curric_fmc2 = comp_curric_fmc2[["id_componente","nome"]]
comp_curric_fmc2

       id_componente                                               nome
20541          55025           FUNDAMENTOS MATEMÁTICOS DA COMPUTAÇÃO II
23450          58356  DESENVOLVIMENTO PARA DISPOSITIVOS MÓVEIS V (HT...

In [13]:
# Buscando código de Probabilidade
comp_curric_prob = comp_curric_presen[comp_curric_presen["codigo"].str.contains("IMD0033")]
comp_curric_prob = comp_curric_prob[["id_componente","nome"]]
comp_curric_prob

       id_componente                                               nome
18507          52664                                      PROBABILIDADE
23445          58351  DESENVOLVIMENTO PARA DISPOSITIVOS MÓVEIS II (A...

In [15]:
# Função que extrai uma lista com listas contendo o id do componente curricular informado em cada um dos datasets
# com as turmas desde 2010.1 até 2017.1 ( 2017.2 foi retirado pois ainda não acabou... )
def extract_id_comp_curr ( cod_componente ):
    data_sets_turmas = ["data_sets/turmas-2010.1.csv", "data_sets/turmas-2010.2.csv",
                        "data_sets/turmas-2011.1.csv", "data_sets/turmas-2011.2.csv",
                        "data_sets/turmas-2012.1.csv", "data_sets/turmas-2012.2.csv",
                        "data_sets/turmas-2013.1.csv", "data_sets/turmas-2013.2.csv",
                        "data_sets/turmas-2014.1.csv", "data_sets/turmas-2014.2.csv",
                        "data_sets/turmas-2015.1.csv", "data_sets/turmas-2015.2.csv",
                        "data_sets/turmas-2016.1.csv", "data_sets/turmas-2016.2.csv",
                        "data_sets/turmas-2017.1.csv"]#, "data_sets/turmas-2017.2.csv"]
    id_turmas = []
    
    for i in range( len( data_sets_turmas ) ):
        aux = pd.read_csv( data_sets_turmas[i], sep = ";" )
        aux = aux[ aux[ "id_componente_curricular" ] == cod_componente ]
        temp = []
        for i in aux["id_turma"]:
            temp.append( int(i) )
        id_turmas.append( temp )
        
    return id_turmas

In [20]:
# Chamando a função extract_id_comp_curr para os valores encontrados no inicio do notebook
id_turmas_fmc1 = extract_id_comp_curr( 55022 )
id_turmas_fmc2 = extract_id_comp_curr( 55025 )
id_turmas_prob = extract_id_comp_curr( 52664 )

In [22]:
# Função que extrai uma lista com os datasets com os dados relativos
# aos códigos na lista de listas de códigos informada
def extract_data_sets_turmas( lista_turmas ):
    data_sets_matriculas = ["data_sets/matricula-componente-20101.csv", "data_sets/matricula-componente-20102.csv",
                            "data_sets/matricula-componente-20111.csv", "data_sets/matricula-componente-20112.csv",
                            "data_sets/matricula-componente-20121.csv", "data_sets/matricula-componente-20122.csv",
                            "data_sets/matricula-componente-20131.csv", "data_sets/matricula-componente-20132.csv",
                            "data_sets/matricula-componente-20141.csv", "data_sets/matricula-componente-20142.csv",
                            "data_sets/matricula-componente-20151.csv", "data_sets/matricula-componente-20152.csv",
                            "data_sets/matricula-componente-20161.csv", "data_sets/matricula-componente-20162.csv",
                            "data_sets/matricula-componente-20171.csv"]#, "data_sets/matricula-componente-20172.csv"]
    data_sets = []
    for i in range( len( data_sets_matriculas ) ):
        aux = pd.read_csv( data_sets_matriculas[i], sep = ";" )
        for j in range( len( lista_turmas[i] ) ):
            temp = aux[aux["id_turma"] == lista_turmas[i][j] ]
            data_sets.append( temp )
            
    return data_sets

In [23]:
# Extraindo os datasets... Pode demorar um pouco...
data_sets_matriculas_fmc1 = extract_data_sets_turmas( id_turmas_fmc1 )

In [24]:
# Extraindo os datasets... Pode demorar um pouco...
data_sets_matriculas_fmc2 = extract_data_sets_turmas( id_turmas_fmc2 )

In [25]:
# Extraindo os datasets... Pode demorar um pouco...
data_sets_matriculas_prob = extract_data_sets_turmas( id_turmas_prob )

In [ ]:
# Juntando todos os datasets da lista obtida nas chamadas da função extract_data_sets_turmas
# em 3 datasets, matriculas_fmc1, matriculas_fmc2, matriculas_prob
matriculas_fmc1 = pd.concat( data_sets_matriculas_fmc1, ignore_index=True )
matriculas_fmc2 = pd.concat( data_sets_matriculas_fmc2, ignore_index=True )
matriculas_prob = pd.concat( data_sets_matriculas_prob, ignore_index=True )

# Removendo coluna criada durante a concatenação dos datasets da lista
matriculas_fmc1 = matriculas_fmc1.drop( "Unnamed: 10", axis = 1)
matriculas_fmc2 = matriculas_fmc2.drop( "Unnamed: 10", axis = 1)
matriculas_prob = matriculas_prob.drop( "Unnamed: 10", axis = 1)

In [ ]:
# Salvando datasets criados em csv para uso em outros notebooks... esse aqui já tá meio grande...
matriculas_fmc1.to_csv(path_or_buf="matriculas_fmc1.csv", sep = ";")
matriculas_fmc2.to_csv(path_or_buf="matriculas_fmc2.csv", sep = ";")
matriculas_prob.to_csv(path_or_buf="matriculas_prob.csv", sep = ";")